@model PictureProject.Models.ViewModels.HomeViewModel

<div class="page-header">
    <h1>@Model.Title</h1>
</div>

@if (Model.HasImages)
{
    <div class="row">
        @foreach (var image in Model.Images)
        {
            <div class="col-md-4">
                <a href="@image.Address"><img src="@image.Address" class="img-thumbnail" /></a>
            </div>
        }
    </div>
}
